
<%- include('../partials/header.ejs')%>
    <link rel="stylesheet" type="text/css" href="/css/show.css">
    <link rel="stylesheet" type="text/css" href="/css/error.css">

    <main>
        <!-- <h1>Item Page</h1> -->
        <div class="parent">
            <div>
                <img src="<%=item.image%>">
                <h3 class="name"><%= item.name %></h3>
                <p class="condition"><%= item.description %></p>
                <h4 class="price">$<%= parseFloat(item.price).toFixed(2) %></h4>                    
            </div>
        

            <div class="item-buttons">
                <form>
                    <form action='/items/<%=item._id%>/orders' method='POST'>              
                    <!-- <button type="submit">Add to cart</button>  -->
                        <button>Edit </button>
                        <button>Delete </button>

                </form>
            </div>
        </div>
        <!-- <button>Add to cart</button> -->


    </main>

    
</body>
</html>
