<%- include('../partials/header.ejs')%>
<link rel="stylesheet" type="text/css" href="/css/items.css">

<%
function formatDate(dateInput) {
    const date = new Date(dateInput);
    const options = {
        timeZone: 'America/New_York',
        year: 'numeric',
        month: '2-digit',
        day: '2-digit',
        hour: '2-digit',
        minute: '2-digit',
        hour12: true
    };

    // Format using toLocaleString
    const formatted = date.toLocaleString('en-US', options);
    return formatted + ' EST';
}
%>

<% function capitalizeWords(str) {
    return str.toLowerCase().replace(/\b\w/g, char => char.toUpperCase());
} %>


<main>
    <div class="menu-header">
        <h2>Dashboard</h2>
    </div>

   

    <!-- <div class="grid-container-products"> -->
        <% for (let id in itemSales) { %>
            <h2><%= capitalizeWords(itemSales[id].name) %></h2>
            <p>Qty sold: <%= itemSales[id].totalQuantity %></p>
            <p>Sales price: $<%= parseFloat(itemSales[id].price).toFixed(2) %></p>
            <p>Sales revenue:  $<%= parseFloat(itemSales[id].totalQuantity * itemSales[id].price).toFixed(2) %></p>
          

        <% } %>
        <hr><br>
        <h2>Sales Revenue:  $<%= parseFloat(sum).toFixed(2) %></h2> 
        <hr>

        <br><br>
        <h1>Purchases</h1>
        <% for (let id in purchases) { %>

            <a href="/profile/receipt"> <h2><%= capitalizeWords(purchases[id].name) %> </h2> </a>
            <p>Latest purcase: <%= formatDate(purchases[id].date) %></p>
            <p>Complated Transactions: <%= purchases[id].completedOrders %> </p>
            <p>Total purchases: $<%= parseFloat(purchases[id].totalSpent).toFixed(2) %></p>
        <% } %>
          
        
     
    </div>
</main>

<%- include('../partials/footer.ejs')%>