<%- include('../partials/header.ejs')%>
<link rel="stylesheet" type="text/css" href="/css/items.css">

<main>
    <div class="menu-header">
        <h2>My Receipts</h2>
    </div>

    <% function formatDate(date) {
        const d = new Date(date);
        const pad = n => n.toString().padStart(2, '0');
        return `${pad(d.getMonth() + 1)}/${pad(d.getDate())}/${d.getFullYear()}`;
    } %>

    <!-- <div class="grid-container-products"> -->
        <h2>Total sales: <%=sum%></h2> 
        <% if(order.length) { %>
            <% order.forEach(orderItem =>{ %>
                <% if(parseFloat(orderItem.totalPrice).toFixed(2) !== "0.00") { %>
                    <br><br>
                    <h2><%=orderItem.customerId.firstName%></h2>
                    <h2><%=orderItem.customerId.lastName%></h2>
                    <h2>Total Price: $ <%=parseFloat(orderItem.totalPrice).toFixed(2)%></h2>
                    <h2>Order Date: <%= formatDate(orderItem.updatedAt)%></h2>
                    
                    <% orderItem.items.forEach(item=> { %>
                        <%if(item.itemId) { %>
                            <div>
                            <a href="/items/<%=item.itemId._id%>">
                                <!-- <img src="<%=item.itemId.image%>" alt="<%= item.itemId.name %>"> -->
                                <h2><%= item.itemId.name %></h2>
                            </a>
                            <h2>$<%= parseFloat(item.itemId.price).toFixed(2) %></h2>
                            <h2>quantity: <%= item.quantity %></h2>
                            <!-- <form action='/items/<%=item._id%>/orders' method='POST'>
                                    <button class="add-to-cart"><i class="fas fa-cart-plus"></i> Add to Cart</button>
                            </form> -->
                            <!-- <form action="/items/<%=item.itemId._id%>/orders?_method=DELETE" method="POST" class="delete-button">
                                <button class="delete-button"><i class="fas fa-trash-alt"></i> Delete from Cart</button>
                            </form> -->
                            
                            </div>
                        <% } %>                
                    <% }) %>
                    <!-- <form action="/profile/receipt" method="GET" >
                        <button class="delete-button"><i class="fas fa-trash-alt"></i> Check out</button>
                    </form> -->
                    <%}%>


            <% }); %> 
        <% } else { %>
            <p>There are no receipts.</p>
        <% } %>
    </div>
</main>

<%- include('../partials/footer.ejs')%>